.dashboard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tweet-container {
    border: 1px solid #ccc;
    padding: 1rem;
}

.tweet-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.tweet-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.tweet-info .tweet-name {
    display: inline;
    color: #4FC3F7;
    margin-right: 5px;
}


.tweet-info .tweet-id {
    display: inline;
    color: #F7A8B8;
    margin-right: 5px;
}


.tweet-id,
.tweet-time {
    display: inline;
    font-size: 0.8rem;
    color: #999;
}

.tweet-content {
    margin-bottom: 1rem;
}

.tweet-actions {
    display: flex;
    justify-content: space-around;
}

.tweet-action {
    cursor: pointer;
}
